@page "/BattleshipGame"
@using Battleship.Game
@using Battleship.Model
@using Battleship.Shared
@inject HttpClient Http
@inject IEngine Engine

<PageTitle>Battleship Game</PageTitle>

@if (grid == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <GameGrid squares=grid.GetSquares() size=size></GameGrid>

    <form>
        <input type="text" @bind-value="coords">
        <input type="submit" @onclick=OnClick>
    </form>
}

@code {
    Grid grid { get; set; }
    int size = 10; // todo get from grid
    private string coords = "";

    protected override async Task OnInitializedAsync()
    {
        grid = Engine.CraeteGrid();

        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }

    void OnClick()
    {
        var s = coords;
    }
}
