@page "/BattleshipGame"
@using Battleship.Game
@using Battleship.Model
@using Battleship.Shared
@inject HttpClient Http
@inject IEngine Engine

<PageTitle>Battleship Game</PageTitle>

@if (squares == null || gridSize == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <GameGrid squares=squares size=gridSize></GameGrid>

    <br />
    <input type="text" @bind-value="textInput" disabled=@hasGameEnded>
    <input type="button" disabled=@hasGameEnded value="Shot" @onclick=ShotOnClick>
    <input type="button" disabled=@(hasGameEnded == false) value="Play again" @onclick=PlayAgainOnClick>
}

@code {
    private SquareState[,]? squares = null;
    private int gridSize = 0;
    private string textInput;
    private bool hasGameEnded;

    protected override async Task OnInitializedAsync()
    {
        PrepareGame();
    }

    public async Task ShotOnClick() 
    {
        squares = Engine.Shot(textInput);
        textInput = string.Empty;
        hasGameEnded = Engine.HasGameEnded();
        if (hasGameEnded)
        {
            textInput = "FINISH";
        }
    }

    public async Task PlayAgainOnClick() 
    {
        PrepareGame();
    }
    
    private void PrepareGame()
    {
        textInput = string.Empty;
        hasGameEnded = false;

        squares = Engine.CraeteGrid();
        gridSize = Engine.GetGridSize();
    }
}
