
    <table class="table">
        <tbody>
            @for (int row = 0; row < size; row++)
            {
                <tr>
                @for(int col = 0; col < size; col++)
                {
                    <td>
                        <div class="col-sm @GetFormat(squares[col,row])" style="border: solid 1px black">
                            @GetCharFromSquareState(squares[col, row])
                        </div>
                        
                    </td>
                }
                </tr>
            }
        </tbody>
    </table>


@code {

    [Parameter]
    public SquareState[,] squares { get; set; }

    [Parameter]
    public int size { get; set; }

    private char GetCharFromSquareState(SquareState state)
    {
        return ViewFormatting.GetCharFromSquareState(state);
    }

    private string GetFormat(SquareState state)
    {
        return ViewFormatting.GetFormat(state);
    }
}
